
body, h1, h2, h3, h4{
    margin:0;
}
body{
    font-family: sans-serif;
}
.grid{
    display:grid;
    grid-template-columns: auto auto auto ;
    gap: 50px;
   justify-content: center;
   padding: 30px;
 
 }
.navbar {
    background-color:  #ffffff;
    
    width: 100%;
    height:70px;
   position: relative;
      top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    color: rgb(60, 51, 51) ;

   
    position: fixed;
    z-index: 8;
}  
ul :hover {
    color: wheat;
    text-decoration: underline;
    cursor: pointer;
}
.nav-title :hover{
    text-decoration: underline;
    color: wheat;
}
 .navbar > i {
     display:none;

}
.mobile-nav{
    position:absolute;
      top:40px;
      left:0;
      height:0;
      width: 100%;
      background-color:white;
      transition: var(--animation-time);
      list-style: none;
      display: none;
      flex-direction: column;
      justify-content:center;
      gap: 20px;
      z-index: 20;
      animation-name: slideBottom;
      animation-duration: 2s;
      animation-fill-mode: forwards;
}
@keyframes slideBottom {
    from {
        height:0px;
    }
    to {
        height:calc(100vh - (40px));
    }
}
.mobile-nav li{
    font-size:30px;
}
.open{
    display:flex;
   }
.close{
    display:none;
}

@media screen and (max-width: 700px)  {
    .navbar > i {
      display: block;
    }
    i:hover{
        color: wheat;
        cursor: pointer;
    }
   

    .mobile-nav>ul{
        color: ;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: start;
        top: 40px;

    }
    
   
   
   .nav-open{
   }
    .navbar .nav-left {
        display: none;
    }
   .deff{
    display: flex;
    flex-direction: column;
   
   }
   .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

   }
   
   
  
   
   
}
@media screen and (max-width: 860px) {
    .photo-filter{
        height: 100vh !important;
    }} 
    @media screen and (max-width: 837px){
    .footer{
        height: 100vh !important;
    }} 
   
  

 .nav-title{
    padding: 16px 90px;
    max-width: 380px;
    text-decoration: none;
    font-size: 20px;
   
    
    text-shadow: 1px 1px 1px rgb(0 0 0 / 25%); 
      }
 .but{
   text-align: center;
 
 }
 
 .deff{
    display: flex;
   
    align-items: center;
    justify-content: space-between;
    
    font-size: 18px;
   
    padding:    20px 10px;
   
 }
 .nav-left {
    display: block;
    display: flex;
    gap: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
    list-style: none;
  }
 .nav-button{
    background-color:#D48C70;
    opacity: 1;
    width: 80px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 13px 7px -15px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
    
    height: fit-content;
 }
 
 .center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    background:linear-gradient(0deg, rgba(235, 187, 176,0.7) 0%, rgba(235, 187, 176,0.7)  ), url(https://images.prismic.io/home24-production/3d84f285-5cc4-4a5e-badf-7fbaba7d3788_butlers-promo-hp-shop-the-look-banner_3792x1422.jpg?auto=compress,format&rect=0,0,3792,1422&w=1776&h=666);
 
   
 }
 .box-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    margin-top: 30px;
   
  
 }
 .box1{
    background-color:
    
#D48C70;
    width: 40%;
    height:    50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    gap: 20px;
    
   
 }
 .btn:hover {
    transform: scale(1.06);
    cursor: pointer;
 }
 .box2{
    background-color: #E98980 ;
    width: 40%;
    height:    50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 0px;
   
    
    
   
 }
 .c{color: white;
    padding: 10px;
    font-size: 30px;
    
 }
 .btn{
    background-color: white;
    color:#D48C70 ;
    height: fit-content;
    padding: auto;
    text-align: center;
    width: 230px;
    border: 1px solid;
    font-size: 25px;
 } 


 
 .img1{
    width: 60%;
    height:50vh ;
    background-image: url(https://i.pinimg.com/564x/f1/57/7b/f1577beb2488e7619a8c828448545136.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
 } 
 .img2{
 width: 60%;
    height:50vh ;
    background:    url(https://images.prismic.io/home24-production/337cd4e0-f9b4-4ed5-9867-4fbc0663a337_int_RTT_Energy_saving_lamps_RTT_2364x1182_1108_2209-cw39_ak.png?auto=compress,format&rect=138,0,1960,1182&w=1008&h=608) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 .bord{
    display: none;
    border:1px solid ;
    width: 100px;
    height:100vh;

 }
 
 .photo1{
    background-image: url(https://www.notreloft.com/images/2021/05/salon-avec-canape-blanc-ecru-retro-assise-volumineuse.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 300px ;
    background-size: cover;
    border-radius: 3px;
    

    height:300px;
   
 }
 .photo1:hover{
transform: scale(1.09);
cursor: pointer;
 }
 .photo2{
    background-image: url(https://i.pinimg.com/564x/05/81/9f/05819f2ec0bd02cac1215ddf0dbc8293.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 300px ;
    background-size: cover;
    border-radius: 3px;

    height:300px;
   
 }
 .photo2:hover{
    transform: scale(1.09);
    cursor: pointer;
     }
     .photo3{
        background-image: url(https://www.joliplace.com/wp-content/uploads/2017/06/salon-canape-rose.jpg);
        background-position: center;
        background-repeat: no-repeat;
        width: 300px ;
        background-size: cover;
        border-radius: 3px;
    
        height:300px;
       
     }
     .photo3:hover{
        transform: scale(1.09);
        cursor: pointer;
         }  
.photo4{
         background-image: url(https://www.joliplace.com/wp-content/uploads/2017/06/salon-canape-rose.jpg);
         background-position: center;
         background-repeat: no-repeat;
         width: 300px ;
         background-size: cover;
         border-radius: 3px;
     
         height:300px; 
        }
        .photo4:hover{
            transform: scale(1.09);
        cursor: pointer;
        }
  .photo5{
    background-image: url(https://www.joliplace.com/wp-content/uploads/2017/06/salon-canape-rose.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 300px ;
    background-size: cover;
    border-radius: 3px;

    height:300px;
} .photo5:hover{
    transform: scale(1.09);
    cursor: pointer;

}
  
  .photo6{
    background-image: url(https://www.joliplace.com/wp-content/uploads/2017/06/salon-canape-rose.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 300px ;
    background-size: cover;
    border-radius: 3px;

    height:300px;

  }.photo6:hover{
    transform: scale(1.09);
    cursor: pointer;

}
  .photo7{ 
    background-image: url(https://www.joliplace.com/wp-content/uploads/2017/06/salon-canape-rose.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 300px ;
    background-size: cover;
    border-radius: 3px;

    height:300px;

  }
  .photo7:hover{
    transform: scale(1.09);
    cursor: pointer;
}
  .photo8{
    background-image: url(https://www.joliplace.com/wp-content/uploads/2017/06/salon-canape-rose.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 300px ;
    background-size: cover;
    border-radius: 3px;

    height:300px;

  }.photo8:hover{
    transform: scale(1.09);
    cursor: pointer;
}
  .photo9{
    background-image: url(https://www.joliplace.com/wp-content/uploads/2017/06/salon-canape-rose.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 300px ;
    background-size: cover;
    border-radius: 3px;

    height:300px;

  }
  .photo9:hover{
    transform: scale(1.09);
    cursor: pointer;
}
.ch{
    width: 300px;
    height: 300px;
}
.ch:hover{
    cursor: pointer;
    transform: scale(1.09);

}
 .def{
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
    display: flex;
     color: #554134;
     
 }

 .hrr{
    margin:10px;
    width: 200px;
    border-top: 1px dashed;
    border-bottom:  none;
 }
 .chambre{
    display: none;
 }
 .photo-filter{
    background: linear-gradient(0deg, rgba(235, 187, 176,0.3) 0%, rgba(235, 187, 176,0.3)  ),url(https://www.monsieur-meuble.com/wp-content/uploads/2020/08/bg_services.jpg);
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 30px 0px;
   
   width: 100%;
   height: 60vh;
   
}
 .org {
  display: grid;
grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
justify-items: center;

grid-gap:10px; 
align-items: center;
padding: 10px;
 }
 .serv{
    text-align: center;
    padding: 20px;
    font-size: 40px;
 }
 
 
 .block1{
    border:2px solid;
    height: fit-content;
    border-color: white;
    width:200px;
  text-align: center;
    padding: 32px;
    
   
    
   
 }
.content > h4{
    margin-top: 15px;

}
 .org > div:hover{
    background-color: white;
    transform: scale(1.08);
    cursor: pointer;

 
 }
 
.y{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: gray;
    padding: 5px;
}
.y >h4:hover{
    color: black;
    cursor: pointer;

}
 
 
 .log{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 30px;
 }
 .rel1{
    background-image: url(https://i.pinimg.com/564x/19/d1/85/19d185a37468fb52da7708044c870e0c.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width:300px;
 }
 .rel1:hover{
    transform: scale( 1.09);
    cursor: pointer;
 }
 .rel2{
    background-image: url(https://i.pinimg.com/564x/d7/c4/98/d7c498982b0ba7ff0a77295f65ee2bda.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width:300px;
 }
 .rel2:hover{
    transform: scale(1.09);
    cursor: pointer;
 }
 .video:hover{
    transform: scale(1.09);
    cursor: pointer;
 } .chambre{
    display: none;
 }
 .f{
    display: block;
 }
 .sam, .chambre{
    display: none;
 }
 /* overlay*/

 .overlay-container{
    display:flex;
    align-items: center;
    justify-content: center;
 }

 .overlay{
    position:absolute;
    z-index: 2;
    background:brown;
    opacity: 0.5;
    width:100%;
    height:100%;
 }
 .footer{
    background-color:#D48C70;
    width: 100%;
    align-items: center;
    text-align: center;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 20px;
    color: #ffffff;
    padding: 80px 0px;
    
   
 }
 .part1 > li{
list-style: none;
font-size: 20px;
line-height: 1.5;
padding: 0px 16px;
 }
 .part2 > li{
    list-style: none;
    font-size: 20px;
    line-height: 1.5;
    padding: 0px 16px;
     }
     .part3 > li{
        list-style: none;
        font-size: 20px;
        line-height: 1.5;
        padding: 0px 16px;
         }